*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2e1b3e;
}

/* .App {
  text-align: center;
} */
.num {
  color: #FF79B0;
  font-family: Mono;
}

.opening-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-animation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInParts 3s ease-in-out;
}

@keyframes fadeInParts {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
